<div class="fundo-portal container-portal">

    <div class="info-portal">
        <div class="separa">
            <p class="text-md"><b>Bem Vindo {{usuario_atual}}</b></p>
            <a href="/" class="button-portal">Voltar</a>
        </div>
        <p class="text-portal">Cargo: {{cargo}}</p>
        <p class="text-portal">User: {{usuario_user}}</p>
    </div>

</div>

<div class="fundo-portal container-portal">
    <div class="separa">
        <p class="text-md"><b>{{listagem}}</b></p>
        <a href="/cadastro" class="button-portal">Novo</a>
    </div>

    <div class="servicos-content">
        <table class="tabela">
            <tr>
                <th>Nome</th>
                <th>Cargo</th>
                <th></th>
            </tr>
            {{#usuarios}}
            <tr>
                <td>{{nome}}</td>
                <td>{{cargo}}</td>
                <td>
                    <form action="/usuario" method="POST">
                        <input type="hidden" name="id_usuario" value="{{id_usuario}}">
                        <input type="hidden" name="cargo_atual" value="{{cargo}}">
                        <button type="submit" class="link-portal">Mais Informações...</button>
                    </form>

                </td>
            </tr>
            {{/usuarios}}


        </table>
    </div>
</div>